.maxw-half {
    max-width: 50% !important;
}
.width-half {
    width: 50% !important;
}

.line-height-none {
    line-height: 0 !important;
}

code {
    display: inline-block;
    background-color: #f0f0f0;
    padding: .25rem .5rem .25rem .5rem;
    border-radius: .25rem;
    max-width: 100%;
}

.bg-light-yellow {
    background-color: #F1E4D4 !important;
}

details {
    cursor: pointer;
}