<div class="usa-alert usa-alert--warning" id="{{ include.id }}">
    <div class="usa-alert__body">
        <a class="text-base-dark" href="javascript:void(0);" id="dismiss">
            <svg class="usa-icon usa-icon--size-4 float-right" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#close"></use>
            </svg>
        </a>
        <h4 class="usa-alert__heading">Warning status</h4>
        <p class="usa-alert__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
        </p>
    </div>
</div>