<!--
    Documentation: https://github.com/pglevy/rwp-toolkit/wiki/Components#card
-->
<ul class="usa-card-group">
    {% for item in include.values %}
    <li class="{{ include.width }} usa-card">
        <div class="usa-card__container">
            <header class="usa-card__header">
                <h2 class="usa-card__heading">{{ item.heading }}</h2>
            </header>
            {% if item.image-url and item.image-text %}
            <div class="usa-card__media">
                <div class="usa-card__img minh-card maxh-card">
                  <img src="{{ item.image-url}}" alt="{{ item.image-text }}" class="{{ item.image-class }}" />
                </div>
            </div>
            {% endif %}
            <div class="usa-card__body">
                <p>
                    {{ item.body }}
                </p>
            </div>
            {% if item.link %}
            <div class="usa-card__footer">
                <a href="{{ item.link }}" class="usa-button">View {{ item.heading }}</a>
            </div>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>